/* 
Document: style
Created on: 03/04/2010
Author: mvrilo
*/

/* Reset the page */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,input,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:18px;vertical-align:baseline;background:transparent;font-family:helvetica,verdana,arial;color:black;text-decoration:none;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before, blockquote:after, q:before, q:after{content:'';}:focus{outline:0;} ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}.clear{clear:both;}.floatLeft{float:left;}.floatRight{float:right;}

/* init */
body {
	padding: 30px 30px 0px;
}
#container {
	margin: auto;
	width: 400px;	
}
#top {
	margin-bottom: 15px;
	margin: 0px auto 15px auto;
	text-align: center;
}
h1, h1 a {
	line-height: 20px;
	font-weight: normal;
	font-family: Vollkorn, bitstream charter, times new roman;
	font-size: 38px;
}
#top p {
	font-size: 18px;
	letter-spacing: 10px;
	color: #DDD;
}
p {
	padding: 5px 0px;
	font-size: 17px;
}
p a {
	color: #555;
	font-size: 17px;
}
p a:hover {
	color: #111;
}
#right {
	text-align: center;
}
#github {
	margin: 15px auto 0px auto;
}
